body {
    font-family: monospace;
    color: #f8f9fa;
    background-color: #0d0c14;
}

.gamepad {
    border: 1px #b2b3b52f solid;
    border-radius: .3rem;
    padding: 15px;
    padding-top: 0;
    margin-bottom: 1rem;
}

.bg-primary {
    background-color: #0dcaf0;
    color: #212529;
}

  
/*meter*/.axis {
    min-width: 200px;
    margin: 1em;
}
  
.button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
    background-size: 0% 0%;
    background-position: 100% 100%;
    background-repeat: repeat-x;
    padding: 5px;
}
  
.axes {
    margin-left: 1.1rem;
}

.axis {
    width: 15%;
    height: 17px;
}

.vibrate-button {
    background-color: transparent;
    border: limegreen 1px solid;
    border-radius: .2rem;
    padding: 6px 13px;
    color: #f8f9fa;
    cursor: pointer;
    margin-top: .7rem;
    transition: all .15s;
}

.vibrate-button:hover {
    background-color: rgba(50, 205, 50, 0.833);
    color: #212529;
}

.title {
    margin-bottom: .4rem;
}

.intensity {
    margin-left: 1rem;
    width: 15%;
}

.duration {
    margin-left: 1rem;
    background-color: transparent;
    border: limegreen 1px solid;
    border-radius: .2rem;
    color: #f8f9fa;
    max-width: 30px;
    padding: 4px 0 4px 7px;
}


.pressed {
    outline: 2px solid rgba(50, 205, 50, 0.268);
    outline-offset: 2px;
    border-radius: 2px;
}
  
.touched::after {
    content: "touch";
    display: block;
    position: absolute;
    margin-top: 0.2em;
    margin-left: -0.5em;
    font-size: 0.8em;
    opacity: 0.7;
}

input[type='range'] {
    -webkit-appearance: none;  /* Webkit tarayıcılar için varsayılan görünümü kaldırır */
    width: 100%; /* Slider'ın genişliğini ayarlar */
    height: 5px; /* Slider'ın yüksekliğini ayarlar */
    background: #ddd; /* Slider'ın arka plan rengini ayarlar */
    outline: none; /* Odağa alındığında dış çerçeveyi kaldırır */
    opacity: 0.7; /* Slider'ın saydamlığını ayarlar */
    -webkit-transition: .2s; /* Geçiş animasyon süresi */
    transition: opacity .2s;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Webkit tarayıcılar için thumb'ın varsayılan görünümünü kaldırır */
    appearance: none;
    width: 20px; /* Thumb'ın genişliğini ayarlar */
    height: 20px; /* Thumb'ın yüksekliğini ayarlar */
    background: #4CAF50; /* Thumb'ın arka plan rengini ayarlar */
    cursor: pointer; /* İmleç stilini pointer olarak ayarlar */
  }
  
  input[type='range']::-moz-range-thumb {
    width: 20px;  /* Firefox için thumb'ın genişliğini ayarlar */
    height: 20px; /* Firefox için thumb'ın yüksekliğini ayarlar */
    background: #4CAF50; /* Firefox için thumb'ın arka plan rengini ayarlar */
    cursor: pointer;
  }
  